# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime. 
# See README for more details.
NODE_ENV=development

# This server runnnin port
SERVER_PORT=3000

# This is standard running mysql locally
DB_MYSQL_HOSTNAME=<hostname>
DB_MYSQL_USERNAME=<username>
DB_MYSQL_PASSWORD=<password>
DB_MYSQL_DBNAME=<database>